::-webkit-scrollbar
{
	display: none;
}

:root
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-ms-overflow-style: none;
	scrollbar: none;
	background: none;
	color: white;
	font-family: "Avenir Next", Avenir, Futura, Arial;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	border: none;
	border-color: black;
	border-radius: 0;
	box-sizing: border-box;
	outline: none;
	
	--background: rgb(20,20,25);
	--background-light: rgb(35,35,40);
}

body
{
	background: var(--background);
	margin: 0;
	padding: 2.5px;
}

a
{
	color: inherit;
	text-decoration: inherit;
}

a.link
{
	color: rgb(20,170,255);
	font-weight: bold;
}

ul
{
	text-align: left;
}
