@import "grades.css";

.member
{
	display: inline-block;
	width: 80%;
	max-width: 300px;
	background: var(--gradeDefault);
	border-radius: 12px;
	margin: 8px;
	padding: 6px;
	box-shadow: 0 0 12px rgba(0,0,0,0.5);
	transition: transform 300ms;
}

.member:hover
{
	transform: scale(1.1);
}

.member[grade="9"]
{
	background: var(--grade9);
}

.member[grade="8"]
{
	background: var(--grade8);
}

.member[grade="7"]
{
	background: var(--grade7);
}

.member[grade="6"]
{
	background: var(--grade6);
}

.member[grade="5"]
{
	background: var(--grade5);
}

.member[grade="4"]
{
	background: var(--grade4);
}

.member[grade="3"]
{
	background: var(--grade3);
}

.member[grade="2"]
{
	background: var(--grade2);
}

.member[grade="1"]
{
	background: var(--grade1);
}

.member[grade="0"]
{
	background: var(--grade0);
}

.member > .username
{
	font-size: 1.2em;
	font-weight: bold;
}

.member > .grade
{
	display: inline-block;
	background: rgba(0,0,0,0.1);
	font-size: 0.8em;
	border-radius: 5px;
	margin: 3px;
	padding: 3px;
}